@import './button';


.header {
  .nav {
  background:$header-color;

  }
  .nav-container {
    max-width: $content-max-width;
    padding: 32px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .nav-bar-btns {
    display: flex;
    li {
      a {
        @include button;
      }
    }
  }

  .nav-bar-btns {
    display: flex;
    p{
      font-size: 40px;
      color: $primary-color;
      font-family: 'Anton', sans-serif;
    }

  }

  .nav-bar-links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    li {
      transform: skew(-15deg);
      border-right: 2px solid $primary-color;
      padding-right: 8px;
      padding-left: 12px;
      a {
        font-size: 20px;
        color: $primary-color;
      }
      &:last-child {
        border-right: none;
      }
    }
  }

  .nav-bar-btns,
  .nav-bar-links {
    li {
      margin-right: 16px;
      list-style: none;
      a {
        text-decoration: none;
        font-weight: 400;

        &:hover {
          color: black;
          font-size: 25px;
        }
      }
    }
  }
}
