@import './button';


.header {
  .nav {
  background:$header-color;
  

  }
  .nav-container {
    max-width: $content-max-width;
    padding: 32px 0;
    margin: 0 auto;
    display: flex;
    align-items:center;
  }

  .nav-bar-btns {
    margin-left: 10px;
    display: flex;
    flex: 1 150px; 
   
    li {
      a {
        @include button;
      }
    }
    p{
      font-size: 40px;
      color: $primary-color;
      font-family: 'Anton', sans-serif;
    }
  }



.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: right;
    // for the small devices
    @media screen and (min-width: 350px) and (max-width: 840px) 
    {
        flex-direction: column; 
    }
}
  .nav-bar-links {
     display: flex;
     flex-direction: row;
    
    li {
      transform: skew(-15deg);
      border-right: 2px solid $primary-color;
      padding-right: 5px;
      padding-left: 8px;
      a {
        font-size: 20px;
        color: $primary-color;
      }
      &:last-child {
        border-right: none;
      }
    }
  }

  .nav-bar-btns,
  .nav-bar-links {
    li {
      margin-right: 16px;
      list-style: none;
      a {
        text-decoration: none;
        font-weight: 400;

        &:hover {
          color: black;
          font-size: 25px;
        }
      }
    }
  }
}