 // defaults settings
 @import './default/default';

 // components
 @import './components/header';
 @import './components/footer';
 @import './components/main';
 @import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300&display=swap');

 // All pages basic styles

body {
   background: black;

 }
 
 

 // home pages
 
 .jumbotron {
   overflow: hidden;
   .landing-page-container {
       img {
        display: flex;
        margin: 64px auto;
         width: 10vw;
         height: 7vh;
         min-width: 1460px;
       }
     }
   }
 
 .find-your-store {
   max-width: $content-max-width;
   display: flex;
   justify-content: left;
   margin: 64px auto;
   padding-bottom: 48px;
   border-bottom: 4px solid black;
 
   .store-card {
     width: 45%;
    //  background: $primary-color;
     color: black;
 
     h2 {
       text-align: center;
       padding: 16px 0;
     }
 
     .locate-card {
       display: flex;
       flex-direction: column;
       align-items: center;
       background: black;
       margin: 8px;
       h2 {
         padding-top: 16px;
         color: $primary-color;
       }
 
       a {
         @include button;
         text-decoration: none;
         margin-bottom: 16px;
 
         &:hover {
           background: white;
           color: $primary-color;
           text-decoration: underline;  
         }
       }
     }
   }
 }