 // defaults settings
 @import './default/default';

 // components
 @import './components/header';
 @import './components/footer';
 @import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300&display=swap');
 @import './components/bgpicture';
 // All pages basic styles

body {

   
   background-image: $bg-gradient;

 }
 
 

 // Configuration for landing page
 
 .home {

 
 background-image: $bg-gradient, url('../images/Matterhorn.jpg');
 padding: 50px 0;
  max-width: $content-max-width;
  margin: 0 auto;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: block;
  
  p {
    color: rgb(205, 192, 205);
    text-align: block;
    margin: 10px;
    }
    img{
      margin: 10px;
      width: 150px;
      border-radius: 50%;
    }

  h1{
    margin: 10px;
    color: $primary-color;
    text-align: left;
  }
 

}

// confogiration for sub pages
.main{

  
 
   max-width: $content-max-width;
   margin: 0 auto;
   padding: 16px 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: block;
   
   p {
     color: $secondary-color;
     text-align: block;
      margin: 10px;
   
     }
     img{
      margin-left: 10px;
       width: 150px;
       border-radius: 50%;
     }
 
   h1{
    margin-left: 10px;

     color: $primary-color;
     text-align: left;
   }
   h2{
    margin: 10px;
   }

   li{

    // color: $secondary-color;
    color: white;
    text-align: block;
    margin: 20px;
  }
 
 }
// for Blog table
 .table{
  
  img{
    margin: 5px;
    width: 100px;
    border-radius: 10%;
    &:hover {
      width: 200px;
    }
  }
  .date {
    text-shadow: 1ch;
    color: rgb(11, 15, 13);

  }

 }
// for projects page
.projects{
  max-width: $content-max-width;
   
   display: flex;
   flex-direction: row;
   justify-content: left;
   margin: 10px;

  img{
   
    min-width: 50%;
    border-radius: 5%;
  }
  
}
//to manage position of resume button

 .place-holder {
   max-width: $content-max-width;
   min-height: 50px;
   display: flex;
   justify-content: left;
   margin: 64px auto;
   padding-bottom: 4px;

 
     .resume-card {
      width: 45%;
       display: flex;
       flex-direction: column;
       align-items: center;
       margin: 8px;
  
       a {
         @include button;
         text-decoration: none;
         margin-bottom: 16px;
 
         &:hover {
           background: white;
           color: $primary-color;
           text-decoration: underline;  
         }
       }
     }
   }

   .footer{

        .contact-info {
          display: flex;
          flex-direction: column;
          align-items: block;
          color: #062e6b;
        }
        .contact-info p {
          margin: 2px;
          font-size: 18px;
          color: #062e6b;
        }
        .contact-info a {
          margin: 2px;
          font-size: 20px;
          color: #062e6b;
        }
        
        

   }
  //  .copy-right {
  //   max-width: 1180px;
  //   margin: 0 auto;
  //   padding: 8px 0;
  //   background-color: rgb(10, 13, 203);
  //   display: flex;
  //   align-items: center;
  //   flex-direction: column;
  // }
    .copy-right p {
      margin: 2px;
      font-size: px;
      color: rgb(245, 245, 245);
      color: rgb(10, 13, 203);
      
      
    }
