@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  -ms-overflow-style: none; /* for internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /*for Chrome, safari and opera */
}

.header .nav {
  background: rgb(231, 211, 211);
}
.header .nav-container {
  max-width: 1180px;
  padding: 32px 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.header .nav-bar-btns {
  margin-left: 10px;
  display: flex;
  flex: 1 150px;
}
.header .nav-bar-btns li a {
  background: #7812ec;
  color: rgb(240, 232, 232);
  padding: 8px 24px;
  border-radius: 8px;
  font-size: 32px;
  font-style: italic;
  box-shadow: 2px 2px 2px #7812ec;
}
.header .nav-bar-btns p {
  font-size: 40px;
  color: #7812ec;
  font-family: "Anton", sans-serif;
}
.header .nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
@media screen and (min-width: 350px) and (max-width: 840px) {
  .header .nav-bar {
    flex-direction: column;
  }
}
.header .nav-bar-links {
  display: flex;
  flex-direction: row;
}
.header .nav-bar-links li {
  transform: skew(-15deg);
  border-right: 2px solid #7812ec;
  padding-right: 5px;
  padding-left: 8px;
}
.header .nav-bar-links li a {
  font-size: 20px;
  color: #7812ec;
}
.header .nav-bar-links li:last-child {
  border-right: none;
}
.header .nav-bar-btns li,
.header .nav-bar-links li {
  margin-right: 16px;
  list-style: none;
}
.header .nav-bar-btns li a,
.header .nav-bar-links li a {
  text-decoration: none;
  font-weight: 400;
}
.header .nav-bar-btns li a:hover,
.header .nav-bar-links li a:hover {
  color: black;
  font-size: 25px;
}

.footer {
  max-width: 1180px;
  margin: 0 auto;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(231, 211, 211);
  color: rgb(231, 211, 211);
}
.footer .social-media {
  color: rgb(11, 11, 9);
}
.footer .social-media img {
  margin-left: 5px;
  width: 45px;
  border-radius: 50%;
}
.footer .social-media img:hover {
  width: 60px;
  height: 60px;
}
.footer .contact-info {
  display: flex;
  flex-direction: column;
  align-items: block;
  color: secondary-color;
}
.footer .contact-info p {
  margin: 2px;
  font-size: 18px;
  color: rgb(11, 11, 9);
}
.footer .contact-info a {
  margin: 2px;
  font-size: 20px;
  color: rgb(11, 11, 9);
}
.footer .contact-info a:hover {
  font-size: 24px;
  color: #7812ec;
}
.footer .copy-right {
  max-width: 1180px;
  margin: 0 auto;
  padding: 16px 0;
  color: rgb(11, 11, 9);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%);
}

.home {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%), url("../images/Matterhorn.jpg");
  padding: 50px 0;
  max-width: 1180px;
  margin: 0 auto;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: block;
}
.home p {
  color: rgb(205, 192, 205);
  text-align: block;
  margin: 10px;
}
.home img {
  margin: 10px;
  width: 105px;
  border-radius: 50%;
}
.home h1 {
  margin: 10px;
  color: #7812ec;
  text-align: left;
}

.main {
  max-width: 1180px;
  margin: 0 auto;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: block;
}
.main p {
  color: rgb(11, 11, 9);
  text-align: block;
  margin: 10px;
}
.main img {
  margin-left: 10px;
  width: 100px;
  border-radius: 50%;
}
.main h1 {
  margin-left: 10px;
  color: #7812ec;
  text-align: left;
}
.main h2 {
  margin: 10px;
}

.table img {
  margin: 5px;
  width: 100px;
  border-radius: 10%;
}
.table img:hover {
  width: 200px;
}
.table .date {
  text-shadow: 1ch;
  color: rgb(223, 66, 66);
}

.projects {
  max-width: 1180px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 10px;
}
.projects img {
  min-width: 50%;
  border-radius: 5%;
}

.place-holder {
  max-width: 1180px;
  min-height: 50px;
  display: flex;
  justify-content: left;
  margin: 64px auto;
  padding-bottom: 4px;
}
.place-holder .resume-card {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
}
.place-holder .resume-card a {
  background: #7812ec;
  color: rgb(240, 232, 232);
  padding: 8px 24px;
  border-radius: 8px;
  font-size: 32px;
  font-style: italic;
  box-shadow: 2px 2px 2px #7812ec;
  text-decoration: none;
  margin-bottom: 16px;
}
.place-holder .resume-card a:hover {
  background: white;
  color: #7812ec;
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */